body {
    background-image:url('./img/new york.jpeg');
    background-size: cover;
}

h1 {
    font-size: 200px;
    color:white;
    font-family:'Times New Roman', Times, serif ;
}

a {
    color: white;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif ;
}

#btn {
    font-size: 50px;
    background-color:blue;
    margin: 20px;
    padding: 20px;
}